/* General Layout */
body {
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #F4F4F4;
}

/* Header */
header {
    background-color: #473144;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-bottom: 30px;
    width: 90%; /* Ensures the width matches the navbar */
    margin-left: auto;
    margin-right: auto;
}

header h1 {
    font-size: 2.5em;
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: right;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {
    color: #EFC69B;
    text-decoration: none;
    font-size: 1.2em;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Skip to Content */
.skiptocontent {
    position: absolute;
    top: -40px;
    left: 0;
    z-index: 100;
}

.skiptocontent a:focus {
    top: 0;
}

/* Articles Section */
.articles {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    padding: 20px;
    width: 90%; /* Restrict width of the articles section */
    margin-left: auto;
    margin-right: auto;
}

/* Article */
article {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px; /* Space between articles */
}

.article-details {
    padding-right: 20px;
    text-align: right; /* Right align all text */
    border-right: 2px solid #ccc; /* Add right border */
    padding-left: 15px;
    padding-right: 15px;
    line-height: 1.3; /* Slightly reduced line spacing */
}

.article-details h2 {
    font-size: 1.8em;
    color: #AF1B3F;
    margin-top: 0; /* Adjusted to align with date */
}

.article-details p {
    font-size: 1.1em;
    color: #333;
    margin: 5px 0; /* Reduced space between lines */
}

.article-details .publish-date {
    font-size: 1.3em; /* Increased font size for date */
}

.article-content {
    display: flex;
    justify-content: center; /* Center content */
}

.article-content img {
    max-width: 100%;
    height: auto;
    display: block; /* Ensures image is centered */
    margin: 0 auto; /* Centers the image */
}

.article-content .description {
    font-size: 1.1em;
    color: #555;
}

/* Horizontal Layout for Larger Screens */
@media (min-width: 1024px) {
    .articles {
        grid-template-columns: repeat(3, 1fr); /* 3 columns for large screens */
    }

    article {
        grid-template-columns: 1fr 2fr; /* Keep each article in two parts */
    }
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #473144;
    color: #fff;
    position: relative;
    width: 100%;
}
